apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-python-rzvfomgp
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-python-rzvfomgp:69567368c0f6f493a3fd9a95d3d611fc16e95f0b@sha256:a4df7a5e998138510887fe5a179a0c2b410717f5ecf4da6d12b733568ec284f0
          name: container-image
